:root {
    --primary-bg-color: #ffffff;
    --primary-nav-color: #CACACA;
    --secondary-nav-color: #ACACAC;
    --text-color: #0A122A;
    --cyan-highlight-color: #46DBFF;
    --rose-highlight-color: #FFBFEA;
    --rose-fonce-highlight-color: #ff9edf;
}

@font-face {
    font-family: "Gruppo";
    src: url("../assets/polices/Gruppo-Regular.ttf") format("TrueType");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Soopafresh";
    src: url("../assets/polices/Soopafresh.ttf") format("TrueType");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vectroid";
    src: url("../assets/polices/Vectroid.otf") format("OpenType");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "VT323";
    src: url("../assets/polices/VT323-Regular.ttf") format("TrueType");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*Change le cursor du site à l'image png*/
body {
    background-color: var(--primary-bg-color);
    cursor: url("../assets/images/cursor-2.png") 4 2, auto;
}

a,
button,
summary,
input[type="button"],
input[type="submit"],
input[type="reset"],
label[for] {
    cursor: url("../assets/images/cursor-2.png") 4 2, pointer;
}

.container-gauche h1 {
    background-color: red;
    font-size: 8rem;
}

.container-gauche h3 {
    font-size: 8rem;
}

.containers {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-gauche,
.container-droite {
    flex: 1;
}

.container-droite img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 700px) {
    .containers {
        flex-direction: column;
    }
}